body {
  background: center/150% url("../img/background.jpg");
}

@include media-breakpoint-down(md) {
  body {
    background: center/300% url("../img/background.jpg");
  }
}

.header {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.main {
  height: calc(100vh - 56px - 2rem);
}

.modal-form {
  button {
    min-width: 100px;
  }
}

input.is-invalid + .btn-show, input.is-valid + .btn-show {
  top: 1.5rem;
  right: 1.5rem;
}

.btn-show {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  text-decoration: none;
  font-size: 1.5rem;
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}

#dropdownEmoji::after, .epr-preview-emoji-label {
  display: none !important;
}

