body {
  background: center/150% url("../img/background.jpg");
}

@include media-breakpoint-down(md) {
  body {
    background: center/300% url("../img/background.jpg");
  }
}

div#messagesBox {
  max-height: 50vh;
  overflow-y: auto;
}